// main: complete.scss

.StaticForm {
    //dimension
    width: calc(100% - 32px);
    padding: 2em 1em 1em 1em;
    min-height: 70px;
    //decoration
    background: darken($bg-dgrey-solid, 3%);
    border: 1px solid $bg-dgrey-border;
    //font
    font-family: $fontstack-century;
    ul.FormContainer {
	    //layout
		display: grid;
		grid-template-columns: repeat(2, minmax(350px, 1fr));
		@include bp(nav) {
			grid-template-columns: minmax(300px, auto);
		};
		grid-gap: 9px;
        //dimension
        padding: 0;
        margin: 0;
        //decoration
        list-style: none;
    }
    .FormField {
	    width: calc(100% - 20px);
	    background: $bg-dgrey-solid;
	    border: 1px solid $bg-dgrey-border;
	    padding: 9px;
	    color: white;
	    font-family: $fontstack-lato;
		label {
			padding-left: .5rem;
		}
        &.Split {
            //dimension
            min-height: 41px;
            button {
                //dimension
                min-height: 41px;
                //decoration
                background-color: $fontcolor-links;
                cursor: pointer;
                &:hover {
                    //decoration
                    background-color: darken($fontcolor-links, 5%);
                }
            }
        }
        &.Full {
			grid-column: 1 / span 2;
			@include bp(nav) {
				grid-column: 1;
			};
            display: inline-block;
        }
        &.Red {
            button {
                //dimension
                min-height: 61px;
				height: 100%;
                //decoration
                background: $bg-red-solid;
                border: none;
                border-bottom: 3px solid darken($bg-red-solid, 8%);
                border-radius: 3px;
                //font
                color: white;
                &:hover {
                    //decoration
                    background: darken($bg-red-solid, 4%);
                    cursor: pointer;
                    //font
                    color: darken(white, 5%);
                }
            }
        }
        &.Blue {
            //extension
            @extend .Red;
            button {
                //decoration
                background: lighten($fontcolor-navigation, 5%);
                border-bottom: 3px solid darken($fontcolor-navigation, 2%);
                &:hover {
                    background: $fontcolor-navigation;
                }
            }
        }
    }
    input, textarea, button {
        //layout
        display: block;
        box-sizing: border-box;
        //dimension
        resize: none;
        width: 100%;
		padding: .5rem;
        //decoration
		transition: all 0.30s ease-in-out;
        outline: none;
        background-color: lighten($bg-dgrey-solid, 4%);
		border: 1px solid darken($bg-dgrey-border, 2%);
        //font
        font-size: $fontsize-m + .1rem;
        font-family: $fontstack-roboto;
        color: white;
		&:focus {
			box-shadow: 0 0 5px $bg-wgpblue-solid;
	    	border: 1px solid darken($bg-wgpblue-solid, 3%);
		}
    }
    .FormSubmit {
		//layout
		grid-column: 1 / span 2;
		@include bp(nav) {
			grid-column: 1;
		};
        button {
            //dimension
			width: 100%;
            padding: 10px;
            //decoration
            background: lighten($fontcolor-navigation, 5%);
            border: none;
            border-bottom: 3px solid #1b3669;
            //font
            color: white;
            &:hover {
                //decoration
                background: $fontcolor-navigation;
                cursor: pointer;
                //font
                color: darken(white, 5%);
            }
        }
    }
}
