// main: complete.scss

.StaticForm {
    //layout
	display: grid;
    //dimension
    width: calc(100% - 32px);
    padding: 2em 1em 1em 1em;
    min-height: 70px;
    //decoration
    background: darken($bg-dgrey-solid, 3%);
    border: 1px solid $bg-dgrey-border;
    //font
    font-family: $fontstack-century;
    ul {
        //dimension
        padding: 0;
        margin: 0;
        //decoration
        list-style: none;
    }
    .FormField {
        //layout
        display: block;
        //dimension
        padding: 9px;
        //decoration
        border: 1px solid $bg-dgrey-border;
        margin-bottom: 30px;
        &:last-child {
            //dimension
            margin-bottom: 0px;
            //decoration
            border: none;
            //font
            text-align: center;
        }
        & > label:first-child {
            //layout
            display: block;
            //dimenesion
            margin-top: -28px;
            padding: 5px;
            overflow: hidden;
            width: fit-content;
            width: -ms-fit-content;
            //decoration
            background: darken($bg-dgrey-solid, 3%);
            //font
            color: $fontcolor-links;
            font-size: $fontsize-l - .4em;
            font-family: $fontstack-lato;
        }
        & input::placeholder {
            //decoration
            background: darken($bg-dgrey-solid, 3%);
            border: none;
            //font
            font-family: $fontstack-roboto;
            font-weight: lighter;
            color: darken(lightgray, 15%);
        }
        &.Split {
            //dimension
            width: calc(50% - 27px);
            min-height: 41px;
            button {
                //dimension
                min-height: 41px;
                //decoration
                background-color: $fontcolor-links;
                cursor: pointer;
                &:hover {
                    //decoration
                    background-color: darken($fontcolor-links, 5%);
                }
            }
            &:nth-child(odd) {
                //layout
                float: left;
            }
        }
        &.Full {
			grid-column: 1 / span 2;
            width: calc(100% - 18px);
            display: inline-block;
            float: left;
        }
        &.Red {
            border: none;
            padding-top: 0;
            padding-bottom: 0;
            button {
                //dimension
                min-height: 61px;
                //decoration
                background: $bg-red-solid;
                border: none;
                border-bottom: 3px solid darken($bg-red-solid, 8%);
                border-radius: 3px;
                //font
                color: white;
                &:hover {
                    //decoration
                    background: darken($bg-red-solid, 4%);
                    cursor: pointer;
                    //font
                    color: darken(white, 5%);
                }
            }
        }
        &.Blue {
            //extension
            @extend .Red;
            button {
                //decoration
                background: lighten($fontcolor-navigation, 5%);
                border-bottom: 3px solid darken($fontcolor-navigation, 2%);
                &:hover {
                    background: $fontcolor-navigation;
                }
            }
        }
    }
    input, textarea, button, select {
        //layout
        display: block;
        box-sizing: border-box;
        //dimension
        padding: 0;
        resize: none;
        width: 100%;
        margin-left: 5px;
        //decoration
        outline: none;
        border: none;
        background-color: darken($bg-dgrey-solid, 3%);
        //font
        font-size: $fontsize-m + .1em;
        font-family: $fontstack-roboto;
        color: white;
    }
    .FormSubmit {
        input, button, select {
            //dimension
            padding: 10px;
            //decoration
            background: lighten($fontcolor-navigation, 5%);
            border: none;
            border-bottom: 3px solid #1b3669;
            //font
            color: white;
            &:hover {
                //decoration
                background: $fontcolor-navigation;
                cursor: pointer;
                //font
                color: darken(white, 5%);
            }
        }
    }
}
