// main: complete.scss

.modal-form {
    //dimension
    padding: 35px 30px 30px 30px;
    //decoration
    background: white;
    border-radius: 10px;
    //font
    font-family: $fontstack-century;
    ul {
        //dimension
        padding: 0;
        margin: 0;
        //decoration
        list-style: none;
    }
    .form-field {
        //layout
        //dimension
        padding: 9px;
        //decoration
        border: 1px solid #DDDDDD;
        margin-bottom: 30px;
        border-radius: 3px;
        &:last-child{
            //dimension
            margin-bottom: 0px;
            //decoration
            border: none;
            //font
            text-align: center;
        }
        & > label {
            //layout
            float: left;
            //dimenesion
            margin-top: -23px;
            padding: 0 4px 10px 1px;
            overflow: hidden;
            //decoration
            background: white;
            //font
            color: $fontcolor-navigation;
            font-size: $fontsize-l - .4rem;
            font-family: $fontstack-lato;
        }
        & input::placeholder {
            //font
            font-family: $fontstack-roboto;
            font-weight: lighter;
            color: darken(lightgray, 15%);
        }
    }
    input, textarea, button {
        //layout
        box-sizing: border-box;
        //dimension
        padding: 2px;
        width: 100%;
        resize: none;
        //decoration
        outline: none;
        border: none;
        //font
        font-size: $fontsize-m + .1rem;
        font-family: $fontstack-roboto;
    }
    .form-submit {
        input, button {
            //dimension
            padding: 10px;
            //decoration
            background: $fontcolor-links;
            border: none;
            border-bottom: 3px solid darken($fontcolor-links, 7%);
            border-radius: 3px;
            //font
            color: white;
            &:hover {
                //decoration
                background: darken($fontcolor-links, 4%);
                cursor: pointer;
                //font
                color: darken(white, 5%);
            }
        }
        &.Red {
            input, button {
                background: $bg-red-solid;
                border-bottom-color: darken($bg-red-solid, 8%);
                &:hover {
                    background: darken($bg-red-solid, 4%);
                }
            }
        }
    }
}
.form-fade {
	display: none;
}
.form-error {
    //layout
    display: none;
    //dimension
    padding: 10px 5px;
    margin-bottom: 0;
    margin-top: 0;
    //decoration
    background: $bg-red-solid;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    border-radius: 0 0 9px 9px;
    //font
    font-family: $fontstack-roboto;
    font-size: $fontsize-m;
    text-align: center;
}
