// main: complete.scss

.Header {
    //layout
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    //font
    color: white;
    //dimension
    padding: .7em 0;
    .Title {
        //layout
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    img {
        //dimension
        padding: 10px 15px;
    }
    h1 {
        //layout
        display: inline-flex;
        //font
        font-family: $fontstack-roboto;
        font-size: $fontsize-l + .1em;
        font-weight: 500;
    }
    .LoginButtonContainer {
        //layout
        position: absolute;
        //dimension
        right: 0;
        margin: auto 1.2em auto 0;
        .LoginButton {
            //dimension
            padding: .6em 2.4em .6em .6em;
            //decoration
            background: $bg-dgrey-solid url('../media/enter.png') no-repeat;
            background-position: right .4em center;
            background-size: 30px 30px;
            border: 1px solid $bg-wgpblue-solid;
            //font
            text-decoration: none;
            font-family: $fontstack-lato;
            font-size: $fontsize-m - .1em;
            color: $fontcolor-links;
        }:hover {
            //decoration
            background: lighten($bg-dgrey-solid, 4%) url('../media/enter_green.png') no-repeat;
            background-position: right .4em center;
            background-size: 30px 30px;
            //font
            color: lighten($fontcolor-links, 6%);
        }
        .LogoutButton {
            //extension
            @extend .LoginButton;
            //dimension
            padding: .6em;
            //decoration
            background: $bg-dgrey-solid;
            &:hover {
                //decoration
                background: $bg-dgrey-solid;
                //font
                color: $fontcolor-links;
            }
        }
        .LogoutLink {
            //extension
            @extend .LoginButton;
            //dimension
            padding: .6em 1em .6em 1.3em;
            //decoration
            border-left: none;
            background: $bg-dgrey-solid url('../media/exit.png') no-repeat center;
            background-size: 30px 30px;
            &:hover {
                background: lighten($bg-dgrey-solid, 4%) url('../media/exit_red.png') no-repeat center;
            }
        }
    }
}
