// main: complete.scss

table.dataTable {
    //dimension
    margin-right: 0px!important;
    //font
    color: black;
    tr {
        //font
        font-family: $fontstack-tahoma;
        &:first-child {
            //decoration
            border-top: none;
        }
        &:hover {
            //decoration
            background-color: lighten(lightgray, 10%)!important;
        }
        &.optional {
            //decoration
            background-color: lighten($bg-wgpgreen-solid, 10%)!important;
            &:hover {
                //decoration
                background-color: lighten($bg-wgpgreen-solid, 15%)!important;
            }
        }
        &.required {
            //decoration
            background-color: #ffd72f!important;
            &:hover {
                //decoration
                background-color: lighten(#ffd72f, 3%)!important;
            }
        }
    }
    th {
        //font
        font-family: $fontstack-lato;
        font-size: $fontsize-m + .1rem;
        &:nth-child(odd) {
            //decoration
            background-color: darken($bg-wgpblue-solid, 3%);
        }
        &:nth-child(even) {
            //decoration
            background-color: $bg-wgpblue-solid;
        }
    }
    td {
        //dimension
        padding: .4rem .5rem!important;
    }
    ul {
        //layout
        display: flex!important;
        flex-direction: column;
        align-items: stretch;
    }
    li {
        //layout
        display: inline-flex!important;
        flex-direction: row;

    }
    .DatesButton {
        //extension
        @extend %ButtonClass;
    }
}
.dataTables_info, .dataTables_filter, .dataTables_length {
    //font
    color: white!important;
}
.dataTables_filter {
    //dimension
    margin-bottom: .35rem;
}
th.dt-center, td.dt-center {
    //decoration
    outline: none!important;
    //font
    text-align: center;
    &:focus {
        outline: none!important;
    }
}
.dt-button {
    //layout
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    //dimension
    margin-right: 0.333rem;
    padding: 0.5rem 1rem .5rem 1.8rem;
    white-space: nowrap;
    overflow: hidden;
    //decoration
    cursor: pointer;
    background: #49b94d url('../media/add.png') no-repeat;
    background-position: left .5rem center;
    background-size: 1rem 1rem;
    border: 1px solid darken(#49b94d, 10%);
    user-select: none;
    outline: none;
    //font
    font-weight: bold;
    font-family: $fontstack-lato;
    font-size: $fontsize-s;
    color: black!important;
    & span {
        //font
        font-size: $fontsize-m;
    }
    &:hover {
        //decoration
        background: darken(#49b94d, 4%) url('../media/add.png') no-repeat;
        background-position: left .5rem center;
        background-size: 1rem 1rem;
        cursor: pointer;
    }
}
.dt-buttons {
    //layout
    float: left;
}
.dtr-title {
    //font
    color: black;
    font-family: $fontstack-roboto;
    font-weight: 500!important;
    font-size: $fontsize-s;
}
.dtr-data {
    //dimension
    margin-left: 20px;
    //fonts
    color: black;
    font-family: $fontstack-tahoma;
    font-size: $fontsize-s - .1rem;
    line-height: normal;
}
