// main: complete.scss

p {
    //font
    font-family: $fontstack-tahoma;
    font-size: $fontsize-m + .1em;
    color: white;
    line-height: 1.3em;
}

ul {
    //extension
    @extend p;
    margin: 1em 0;
}

h2 {
    //font
    color: white;
    font-family: $fontstack-roboto;
    font-size: $fontsize-m + .2em;
}
