// main: complete.scss

.Important {
    //dimension
    padding: 10px;
    //decoration
    border-bottom: solid 1px black;
    background: $bg-wgpgreen-semifade;
    //font
    text-align: center;
    font-family: $fontstack-lato;
    font-size: $fontsize-m;
}

h1.Important {
    //dimension
    margin-bottom: 0;
    margin-top: 0em;
    //decoration
    border-top: solid 1px black;
    background: $bg-dgrey-fade;
    //font
    font-weight: 500;
    font-family: $fontstack-roboto;
    font-size: $fontsize-l + .3em;
}
